.story-section {
  position: relative;
  background-color: #000;
  color: #fff;
  /* Make the section tall enough to scroll through */
  height: 500vh;
  width: 100vw;
}

.story-sticky-container {
  position: sticky;
  top: 0;
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.story-content-wrapper {
  position: relative;
  width: 60%;
  /* max-width: 1200px; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 2rem; */
}

.story-slide {
  /* position: absolute; */
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.story-slide-1 {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-top: 200px;
}

.story-slide-2 {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-top: 200px;
}

.story-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  background: linear-gradient(to right, #fff, #a5b4fc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.story-text {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #9ca3af;
  max-width: 600px;
  margin: 0 auto;
}

.highlight {
  color: #fff;
  /* font-weight: 600; */
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.special-text{
  font-size: 3rem;
  font-weight: bold;
}

.story-climax {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.climax-question {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.celebrate-btn {
  font-size: 1.2rem;
  padding: 1rem 2rem;
}

@media (max-width: 768px) {
  .story-title {
    font-size: 2rem;
  }
  .story-text {
    font-size: 1.2rem;
  }
  .highlight {
    font-size: 1.4rem;
  }
}

.story-title {
  font-size: 4rem;
  font-weight: bold;
}